.fifth-section {
  &__wrapper {
    padding: 0 10px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4c4c4c url("../img/fifth-section__background.png") center no-repeat;
    background-size: cover;
  }
  &__headline {
    color: #fff;
    font-family: "Gotham Rounded", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &__position {
      margin-bottom: 34px;
    }
  }
  &__input-text {
    width: 100%;
    max-width: 280px;
    padding: 22px;
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  &__input-text::placeholder {
    color: #373737;
    font-family: "Gotham Rounded Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__form-button {
    color: #fff;
    font-family: "Gotham Rounded Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #16a085;
    border: none;
    padding: 19px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    &:hover {
      background-color: #117561;
    }
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}